<div id="<%= dom_id createcity %>">
  <p>
    <strong>City Name:</strong>
    <%= createcity.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= createcity.country %>
  </p>

  <p>
    <strong>Highlights:</strong>
    <%= createcity.highlights %>
  </p>

</div>
