<h1>Editing createcity</h1>

<%= render "form", createcity: @createcity %>

<br>

<div>
  <%= link_to "Show this createcity", @createcity %> |
  <%= link_to "Back to createcities", createcities_path %>
</div>
